# jndi parameter for testing only
# this template has to be copied to jndi.properties.
# all values has to be set to testing database
servername=<servername>
portnumber=5432
databasename=<databasename>
user=<user>
password=<password>